.output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #315a5c;
    border-radius: 15px;
    padding: 30px;
    height: 100%;
    margin-left: 10px;
    width: 100%;
}

.output h2 {
    color: #9fe8df;
    font-size: 30px;
    margin-top: 18px;
}

.output h4 {
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 18px;
}

.output span {
    color: #fff;
}

.output .columns {
    display: flex;
}

.output .columns div {
    width: 50%;
}