input[type=text],
input[type=number] {
    background: #f0fafc;
    color: #315a5c;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    border: 2px solid #315a5c;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: right;
    width: 100%;
}