* {
  box-sizing: border-box;
}

body {
  background: #b8dee1;
  font-family: monospace;
}

.app {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 850px;
  margin: 50px auto;
}

@media screen and (max-width:860px) {
  .app {
    grid-template-columns: 1fr;
    max-width: 95%;
  }
}
